$navbar-height: 2.6rem;
$navbar-padding-v: $navbar-height / 2;
$navbar-padding: $navbar-padding-v $layout-padding;

$navbar-link-font-size: $font-size-base - 0.2;
$navbar-link-height: $navbar-padding-v;
$navbar-link-padding-v: $navbar-padding-v;
$navbar-link-padding-h: 1.5rem;
