// colors
$accent-color: #0b87f0;
$text-color: #2c3e50;
$border-color: #eaecef;
$code-bg-color: #282c34;
$arrow-bg-color: #ccc;

// layout
$navbar-height: 3.6rem;
$sidebar-width: 20rem;
$content-width: 740px;

// responsive breakpoints
$mq-md: 959px;
$mq-sm: 719px;
$mq-xs: 419px;

// code
$line-numbers-width: 3.5rem;
