@import "./_theme/functions";
@import "./_theme/colors";
@import "./_theme/layout";
@import "./_theme/fonts";
@import "./navbar";

// layout
$sidebar-width: 20rem;
$content-width: 740px;

// responsive breakpoints
$mq-md: 959px;
$mq-sm: 719px;
$mq-xs: 419px;

// navbar
