@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import "./theme";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-bottom: map-get($headings-margin-factor, bottom) *
    $line-height-computed;

  &:not(:first-child) {
    margin-top: map-get($headings-margin-factor, top) * $line-height-computed;
  }

  &:hover .header-anchor {
    opacity: 1;
  }
}

h1,
.h1 {
  font-size: $font-size-h1;
}
h2,
.h2 {
  font-size: $font-size-h2;
}
h3,
.h3 {
  font-size: $font-size-h3;
}
h4,
.h4 {
  font-size: $font-size-h4;
}
h5,
.h5 {
  font-size: $font-size-h5;
}
h6,
.h6 {
  font-size: $font-size-h6;
}

.header-anchor {
  opacity: 0;
  margin-left: -0.91em;
}

// Body text
p,
.p {
  margin: 0 0 ($line-height-computed * $text-margin-factor);
}

code {
  background: desaturate(tint($code-color, 92%), 30%);
  color: $code-color;
  border-radius: $base-border-radius;
  font-size: ($font-size-base + 0.3);
  padding: 1px 4px;
}

code[class*="language-"],
pre[class*="language-"] {
  border-radius: $base-border-radius;
  line-height: $line-height-code;
  margin: $line-height-computed 0;

  & code {
    background: inherit;
    color: inherit;
  }
}

a {
  color: $accent-color;
  font-weight: $links-font-weight;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}

.semi-bold {
  font-weight: 600;
}
