// Main colors
$accent-color: #26a683;
$complement-color: complement($accent-color);

$blue-color: #64b5f6;
$green-color: $accent-color;
$red-color: #e57373;
$orange-color: #ffb74d;

$white-color: #fff;
$gray-lightest-plus: #f8f8f8;
$gray-lightest: #f0f0f0;
$gray-lighter: #ccc;
$gray-light: #aaa;
$gray: #888;
$gray-darkest: #333;

// Text
$text-color: #3e4850;
$text-color-light: lighten($text-color, 10%);
$text-color-lighter: lighten($text-color, 30%);
$text-inv-color: $white-color;

$background-color: $white-color;
$border-color: #eaecef;

$code-bg-color: #282c34;
// $code-color: #666;
$code-color: #ff7043;

$navbar-color: linear-gradient(to right, $accent-color 0%, #00acc1 100%);
$button-color: $navbar-color;

// Shadows
$images-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
