// Main colors
$accent-color: #26a683;
$complement-color: complement($accent-color);

$white-color: #fff;
$gray-lightest: #eee;
$gray-lighter: #ccc;

// Text
$text-color: #3e4850;
$text-inv-color: $white-color;

$background-color: $white-color;
$border-color: #eaecef;

$code-bg-color: #282c34;
// $code-color: #666;
$code-color: #ff7043;

$navbar-color: linear-gradient(to right, $accent-color 0%, #00acc1 100%);
$button-color: $navbar-color;
