// Main colors
// $accent-color: #0b87f0;
$accent-color: shade(#3eaf7c, 4%);
// $accent-color: #b041bf;
$complement-color: complement($accent-color);

// Text
$text-color: #3e4850;
$text-inv-color: #fff;

$border-color: #eaecef;

$code-bg-color: #282c34;
// $code-color: shade($complement-color, 3%);
// $code-color: #666;
$code-color: #f0740b;

$arrow-bg-color: #ccc;
